.cards {
    width: 100%;
    margin-left: 15px;
    margin-top: -15px;

    @media (max-width: 992px) {
        margin: 0;
    }
}
.cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item {
    position: relative;
    width: 275px;
    margin: 15px;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 10px;

    @media (min-width: 992px) {
        &:focus,
        &:hover {
            .item__hovered {
                height: calc(100% - 20px);
                transform: translateX(-50%) scale(1);
                transition: transform 0.2s, height 0.2s;
            }

            .item__image {
                z-index: 3;
                transform: scale(0.55) translateY(-170px);
                transition: transform 0.2s;
            }

            .item__rating {
                top: 35px;
                z-index: 3;
                transition: top 0.3s;
            }
            .item__bottom {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s, visibility 0.3s;
            }
        }
    }
}
.item__image {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
    transition: transform 0.2s;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}
.item__bottom {
    padding: 20px 15px;
    transition: opacity 0.3s, visibility 0.3s;
    * + * {
        padding-top: 7px;
    }
}
.item__title {
    font-weight: 600;

    a {
        display: block;
        color: var(--color-black);
    }
}
.item__rating {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 0;
    width: 45px;
    height: 30px;
    background-color: var(--color-white);
    clip-path: polygon(100% 100%, 0 100%, 30% 50%, 0 0, 100% 0);
    transition: top 0.3s;
    span {
        position: absolute;
        top: 7px;
        left: 18px;
        font-weight: 600;
    }
}
.item__hovered {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 50%;
    width: 277px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.2s, height 0.2s;
}
.item__info {
    position: absolute;
    z-index: 3;
    top: 47%;
    left: 20px;
    right: 20px;
    color: var(--color-gray);
    font-size: 1.2rem;
    line-height: 145%;

    p {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        span {
            color: var(--color-white);
        }
    }
}
