$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.main {
    background-image: url("../../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    height: 100vh;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__offer {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}
.main__search {
    width: 100%;

    input {
        border-radius: 40px;
        padding: 12px 15px;
        width: 100%;
    }
}
.main__title {
    @include adaptiv-font(50, 25);
    margin-bottom: 20px;
    text-align: center;
}
