.menu__toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 100;
    transition: opacity, left .5s ease;
}
.menu__toggle:hover {
    opacity: 0.7;
    transition: opacity, left .5s ease;
}
.menu__toggle.open {
    left: 320px;
}