.pleasure {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/pleasure/pleasure-bgjpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 260px;

    &__title {
        text-align: center;
    }

    &__catalog {
        padding-top: 0;
    }
}