.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    background: var(--color-header);
    width: 100%;
    height: 70px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;

        * + * {
            padding-left: 25px;
        }
    }
    &__link {
        position: relative;
        color: var(--color-white);

        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: var(--color-white);
            transition: width 0.5s;
            transform: translateX(-50%);
        }
        @media (min-width: 992px) {
            &:hover {
                &::after {
                    width: 100%;
                    transition: width 0.5s;
                }
            }
        }

        &_active {
            &::after {
                width: 100%;
            }
        }
    }
    &__login {
        margin-left: 15px;
        background-color: transparent;
        color: var(--color-white);
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__search {
        position: relative;
        max-width: 360px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__logo {
        width: 40px;
        height: 40px;
    }
    &__searched_list {
        position: absolute;
        top: 32px;
        right: 0;
        padding: 0;
        max-height: 0;
        width: 0;
        background-color: var(--color-white);
        color: var(--color-black);
        overflow: auto;
        transition: max-height 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s, width 0.3s 0.3s;

        &_active {
            padding: 5px 0;
            width: 200%;
            max-height: 220px;
            opacity: 1;
            visibility: visible;
            transition: max-height 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__searched_item {
        transition: background-color 0.3s;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-black);
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: var(--color-header);
                transition: background-color 0.3s;

                svg {
                    fill: var(--color-white);
                    transition: fill 0.3s;
                }
                .header__searched_link {
                    color: var(--color-white);
                    transition: color 0.3s;
                }
            }
        }

        svg {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            transition: fill 0.3s;
        }
    }
    &__searched_info {
        padding: 7px 12px;
    }
    &__searched_indicator {
        display: inline-block;
        padding-left: 15px;
        opacity: 0.7;
    }
    &__searched_link {
        display: flex;
        align-items: center;
        padding: 7px 12px;
        color: var(--color-black);
        transition: color 0.3s;
    }
    &__search_btn {
        margin-left: 10px;
        background-color: transparent;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}
.search {
    width: 0;
    color: var(--color-white);
    background-color: transparent;
    border-bottom: 2px solid var(--color-border);
    padding: 6px 0px;
    opacity: 0;
    visibility: hidden;
    transition: width 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s;

    &::placeholder {
        font-size: 0.8rem;
        color: var(--color-white);
        opacity: 0.7;
    }

    &__active {
        width: 100%;
        padding: 6px 5px;
        opacity: 1;
        visibility: visible;
        transition: width 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s;
    }
}