.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: var(--color-header);
    width: 100%;
    height: 70px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;

    * + * {
        padding-left: 25px;
    }
}
.header__link {
    position: relative;
    color: var(--color-white);

    &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: var(--color-white);
        transition: width 0.5s;
        transform: translateX(-50%);
    }
    @media (min-width: 992px) {
        &:hover {
            &::after {
                width: 100%;
                transition: width 0.5s;
            }
        }
    }

    &_active {
        &::after {
            width: 100%;
        }
    }
}
.header__search {
    max-width: 340px;
    width: 100%;
}
.search {
    width: 100%;
    color: var(--color-white);
    background-color: transparent;
    border-bottom: 2px solid var(--color-border);
    padding: 6px 5px;

    &::placeholder {
        font-size: 0.8rem;
        color: var(--color-white);
        opacity: 0.7;
    }
}
.header__logo {
    width: 40px;
    height: 40px;
}